<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/668c785be9.js" crossorigin="anonymous"></script>


    <title>Document</title>
</head>

<body>

    <div id="modal">
        <h1>Todo App </h1>
        <form action="">
            <div id="input_sec">

                <div id="description">
                    <div id="desc-body">
                        <input type="text" required>
                        <label for="">
                            <span>Description</span>
                        </label>
                    </div>
                </div>
                <div id="addn-info">
                    <div id="cate">
                        <div id="drp-dwn">
                            <div id="drp-txt">
                                <p>Category</p>
                                <div id="drp-sym"><i class="fas fa-angle-down"></i></div>
                            </div>
                            <ul>
                                <li><a href="">School</a></li>
                                <li><a href="">Office</a></li>
                                <li><a href="">College</a></li>
                                <li><a href="">Personal</a></li>
                                <li><a href="">Others..</a></li>

                            </ul>
                        </div>
                    </div>
                    <div id="date">
                        <p>Due Date</p>
                        <input type="date">
                    </div>
                </div>
            </div>
            <div id="btn_sec">
                <button type="submit"><i class="fas fa-plus"></i><p>&nbsp; ADD TASK</p> </button>
                <a href="#"><i class="fas fa-trash-alt fa-1x"></i><p>&nbsp; DELETE</p> </a>
            </div>
        </form>
        <div id="list_sec">
            <div><input type="checkbox"> let's fuckup our life</div>
            <div><i class="fas fa-calender-week">october x,20xx</i></div>
        </div>
    </div>
    <script src="../static/frontjava.js" type="text/javascript"></script>

</body>

</html>